{% extends "layout.html" %}
{% block title %}{{g.title}}{% endblock %}
{% block body %}
<div class="w3-container">
    <div class="w3-col m1 l2">&nbsp;</div>
    <div class="w3-col w3-panel w3-card-4 l8 m10">
        <h3>Your account is not yet acitve</h3>
        <p>Your account is currently inactive. If you have recently created your account it may be that the administrator has not yet activated it. Activation of new accounts may take up to 3 days.</p>
        <p>If that does not apply in your case please feel free to <a href="/contact/">Contact Us</a> for more information.</p>
    </div>
</div>
{% endblock %}