{% extends "layout.html" %}
{% block title %}{{g.title}}{% endblock %}
{% block body %}

    <div class="w3-contain">
        <div class="w3-col w3-quarter">&nbsp;</div>
		<form class="entry w3-col w3-panel w3-card-4 w3-half"
             action="{{ config.HOST_PROTOCOL|default('http') }}://{{config.HOST_NAME}}{{ g.loginURL }}" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="next" value="{{ next | default('',True)}}" />
			<div>
				<p>User Name or Email Address:</p>
				<p><input class="w3-input" type=text size=30 name="userNameOrEmail" 
                    value="{{form.userNameOrEmail|default('',true)}}"
                    placeholder="Username or Email Address" /></p>
                <p>Password:</p>
				<p><input class="w3-input" type=password size=30 name="password" 
                    value="{{form.password|default('',true)}}"
                    placeholder="Password" /></p>
				<p><input class="w3-btn w3-round-large w3-teal" type="submit" name="login" value="Log In" />
                    {% if config.ALLOW_USER_SIGNUP %} or <a href="{{ g.registerURL }}">Sign Up</a>{% endif %}
                </p>
            </div>
            <div style="margin-top:20pt;">
                <p><a href="{{ g.recoverURL }}">Forgot Password</a></p>
            </div>
		</form>
    </div>
{% endblock %}