{% extends "layout.html" %}
{% block title %}{{ g.title }}{% endblock %}
{% block body %}
<h2>{{g.title}}</h2>
{% if temp_pass %}
<p>An email has been sent to {{ rec.email }} with instructions on how to log in to your account and create a new password.</p>
{% else %}
<p>Enter your email address below and we will send a message to that address
    with a link that will allow you to create a new password.</p>
    <form action="" method="post" accept-charset="utf-8">
        <fieldset>
            <p><span>Email Address: </span><input type="text" size="30" name="email" value=""/></p>
        </fieldset>
        <p><input type="submit" value="Reset Password">&nbsp;&nbsp;<a href="{{g.loginURL}}">Cancel</a></p>
    </form>
{% endif %}
{% endblock body %}