<h3>Account Activation Request</h3>
<p>A new user account has been confirmed and needs to be activated.</p>
<p>Click this link to <a href="{{context.confirmURL}}">Confirm and Activate</a></p>
<p>User Info:</p>
<table>
    <tr><th>Name</th><td>&nbsp;&nbsp;&nbsp;{{context.rec.first_name}} {{context.rec.last_name}}</td></tr>
    <tr><th>Email</th><td>&nbsp;&nbsp;&nbsp;{{context.rec.email|default('None',True)}}</td></tr>
    <tr><th>username</th><td>&nbsp;&nbsp;&nbsp;{{context.rec.username|default('None',True)}}</td></tr>
    <tr><th>password</th><td>&nbsp;&nbsp;&nbsp;{{context.rec.password|default('None',True)}}</td></tr>
    <tr><th>Address</th><td>&nbsp;&nbsp;&nbsp;{{context.rec.address|default('None',True)}}</td></tr>
    <tr><th>Address 2</th><td>&nbsp;&nbsp;&nbsp;{{context.rec.address2|default('None',True)}}</td></tr>
    <tr><th>City</th><td>&nbsp;&nbsp;&nbsp;{{context.rec.city|default('None',True)}}</td></tr>
    <tr><th>State</th><td>&nbsp;&nbsp;&nbsp;{{context.rec.state|default('None',True)}}</td></tr>
    <tr><th>Zip</th><td>&nbsp;&nbsp;&nbsp;{{context.rec.zip|default('None',True)}}</td></tr>
</table>