{% extends "layout.html" %}
{% block title %}{{ g.title }}{% endblock %}
{% block body %}
  	<p id="addRecord"><a href="{{ g.adminURL }}">Add a new record</a></p>
	{%if recs %}
		<table class="datatable w3-table w3-hoverable">
		<tr  class="w3-primary-color">
			<th>Id</th>
			<th>Name</th>
			<th class="w3-hide-small">Email</th>
			<th>Status</th>
		</tr>
		{% for rec in recs %}
	    <tr>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'">{{ rec.id }}</td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'">{{ rec.first_name }} {{ rec.last_name}}</td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'" class="w3-hide-small">{{ rec.email|default("",true) }}</td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'">{% if rec.active == 1 %}Active{% else %}<em>Inactive</em>{% endif %}</td>
		</tr>
		{% endfor %}
	  </table>
  	{% else %}
    	<p><em>No records here so far</em></p>
	{% endif %}
{% endblock %}
