{% extends "layout.html" %}
{% block title %}{{ g.title }} List{% endblock %}
{% block body %}
	<h2>{{g.title}} List</h2>
      	<p id="addRecord"><a href="{{ g.editURL }}0/">Add a new {{ g.title }}</a></p>
	{%if recs %}
		<table class="datatable">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>value</th>
            <th>User</th>
            <th>Expires</th>
		</tr>
		{% for rec in recs %}
	    <tr>
			<td style="min-width:20px;text-align:center;"><a href="{{ g.editURL }}{{ rec.id }}/">{{ rec.id }}</a></td>
			<td style="min-width:30px;"><a href="{{ g.editURL }}{{ rec.id }}/">{{ rec.name }}</a></td>
			<td style="min-width:60px;">{{ rec.value|default("",true) }}</td>
			<td style="min-width:30px;">{{ rec.user_name|default("",true) }}</td>
			<td style="min-width:30px;">{{ rec.expires|default("Never",true) }}</td>
		</tr>
		{% endfor %}
	  </table>
  	{% else %}
    	<p><em>No {{ g.title }}s here so far</em></p>
	{% endif %}
{% endblock %}
